<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/catalogoHead %>

<body class="bg-carrinho" style="height: auto;">

    <!-- ========== Passo 1 ========== -->
    <section class="container" id="step-1" style="min-height: 400px;">
        
        <h1 class="text-center titulo-carrinho"><i class="fas fa-shopping-cart"></i> Itens no Carrinho</h1>
        <hr>
        <% var total = 0; %>
        <% for(var i=0; i < itens.length; i++) { %>
        <% total += itens[i].preco %>
        <div class="row" style="margin: 10px 0px; padding: 15px 0px; border: 1px solid #bababa; border-radius: 10px;">
            <div class="col-sm-6">
                <div>Produto #<%= i+1 %>: <%= itens[i].nome %></div>
            </div>
            <div class="col-sm-6">
                <div style="float: left;">R$ <%= itens[i].preco %>,00</div>
                <form style="float: right;" action="/deletarItem" method="post">
                    <input type="number" style="display: none" id="itemID" name="itemID" value="<%= itens[i].itemID %>">
                    <button type="submit" class="btn btn-trash"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>
        </div>
        <% } %>

        <div style="margin: 10px 30px 30px 30px;">Total: R$ <%= total %></div>
        <div class="clearfix">
            <a class="btn btn-outline-success float-left" href="/catalogo">Voltar</a>
            <% if(itens.length > 0){ %>
            <button class="btn btn-success float-right" onclick="goNextStep('step-1', 'step-2')" type="button">Avançar</button>
            <% } %>
        </div>

    </section>

    <!-- ========== Passo 2 ========== -->
    <section class="container" id="step-2" style="min-height: 400px; display: none;">
    
        <h1 class="text-center titulo-carrinho"><i class="fas fa-map-marker-alt"></i> Endereço e Forma de Pagamento</h1>
        <hr>
        <form action="/pagamentoBoleto" method="post" id="dados-pagamento">
            <div class="row">
                <div class="col-sm-12">
                    <div>Opção de pagamento:</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" onclick="paymentType('boleto', 'dados-pagamento')" name="forma-pagamento" id="boleto" value="boleto" checked>
                        <label class="form-check-label" for="boleto">
                            Boleto
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" onclick="paymentType('creditcard', 'dados-pagamento')" name="forma-pagamento" id="creditcard" value="creditcard" disabled>
                        <label class="form-check-label" for="creditcard">
                            Cartão de Crédito
                        </label>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-8">
                    <div hidden="none">
                        <input type="text" name="total" value="<%= total %>" />
                    </div>

                    <div class="form-group form-inline-block">
                        <label for="cep">CEP:</label>
                        <input type="text" onblur="pesquisacep(this.value)" class="form-control" id="cep" name="cep">
                    </div>
                    <div class="form-group form-inline-block">
                        <label for="endereco">Endereço:</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="">
                    </div>
                    <div class="form-group form-inline-block">
                        <label for="numeroendereco">Nº:</label>
                        <input type="text" class="form-control" id="numeroendereco" name="numeroendereco" placeholder="">
                    </div>
                    <div class="form-group form-inline-block">
                        <label for="bairro">Bairro:</label>
                        <input type="text" class="form-control" id="bairro" name="bairro">
                    </div>
                    <div class="form-group form-inline-block">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" name="cidade">
                    </div>
                    <div class="form-group form-inline-block">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="estado" name="estado">
                    </div>

                    <div>
                        <a class="btn btn-outline-success" href="/catalogo">Voltar</a>
                        <button type="submit" class="btn btn-info">Gerar Boleto</a>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="alert alert-warning text-center">Opção de pagamento por cartão de crédito em construção</div>
                </div>
            
            </div>
        </form>

    </section>

    <script>
    function goNextStep(e1,e2){
        document.getElementById(e1).style.display = "none";
        document.getElementById(e2).style.display = "block";
    }

    function paymentType(radio, form){
        if(radio === "boleto"){
            document.getElementById(form).action = "/pagamentoBoleto";
        } else if(radio === "creditcard"){
            document.getElementById(form).action = "/pagamentoCartao";
        }
    }

    function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('endereco').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('estado').value=("");
            //document.getElementById('ibge').value=("");
    }

    function meu_callback(conteudo) {
        if (!("erro" in conteudo)) {
            //Atualiza os campos com os valores.
            document.getElementById('endereco').value=(conteudo.logradouro);
            document.getElementById('bairro').value=(conteudo.bairro);
            document.getElementById('cidade').value=(conteudo.localidade);
            document.getElementById('estado').value=(conteudo.uf);
            //document.getElementById('ibge').value=(conteudo.ibge);
        } //end if.
        else {
            //CEP não Encontrado.
            limpa_formulário_cep();
            alert("CEP não encontrado.");
        }
    }
        
    function pesquisacep(valor) {

        //Nova variável "cep" somente com dígitos.
        var cep = valor.replace(/\D/g, '');

        //Verifica se campo cep possui valor informado.
        if (cep != "") {

            //Expressão regular para validar o CEP.
            var validacep = /^[0-9]{8}$/;

            //Valida o formato do CEP.
            if(validacep.test(cep)) {

                //Preenche os campos com "..." enquanto consulta webservice.
                document.getElementById('endereco').value="...";
                document.getElementById('bairro').value="...";
                document.getElementById('cidade').value="...";
                document.getElementById('estado').value="...";
                //document.getElementById('ibge').value="...";

                //Cria um elemento javascript.
                var script = document.createElement('script');

                //Sincroniza com o callback.
                script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                //Insere script no documento e carrega o conteúdo.
                document.body.appendChild(script);

            } //end if.
            else {
                //cep é inválido.
                limpa_formulário_cep();
                alert("Formato de CEP inválido.");
            }
        } //end if.
        else {
            //cep sem valor, limpa formulário.
            limpa_formulário_cep();
        }
    };
    </script>

</body>
</html>