<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/head %>

<body style="height: auto;">

    <% include ../componentes/clienteNavegacao %>
    <!-- ========== Passo 1 ========== -->
    <section class="container" id="step-1" style="min-height: 400px;">
        
        <h1 class="text-center">Itens no Carrinho</h1>

        <% var total = 0; %>
        <% for(var i=0; i < itens.length; i++) { %>
        <% total += itens[i].preco %>
        <div class="row" style="margin: 10px 0px; padding: 15px 0px; border: 1px solid #bababa; border-radius: 10px;">
            <div class="col-sm-6">
                <div>Produto #<%= i+1 %>: <%= itens[i].nome %></div>
            </div>
            <div class="col-sm-6">
                <div>R$ <%= itens[i].preco %></div>
            </div>
        </div>
        <% } %>

        <div>Total: R$ <%= total %></div>
        <button class="btn btn-success" onclick="goNextStep('step-1', 'step-2')" type="button">Avançar</button>
    
    </section>

    <!-- ========== Passo 2 ========== -->
    <section class="container" id="step-2" style="min-height: 400px; display: none;">
    
        <h1 class="text-center">Endereço e Forma de Pagamento</h1>

        <form action="/pagamentoBoleto" method="post" id="dados-pagamento">
            <div class="row">
                
                <div class="col-sm-6">
                    <% for(var i=0; i < itens.length; i++) { %>
                        <input type="text" name="item<%= i+1 %>preco" value="<%= itens[i].preco %>" />
                        <input type="text" name="item<%= i+1 %>nome" value="<%= itens[i].nome %>" />
                    <% } %>
                    <input type="text" name="total" value="<%= total %>" />

                    <div class="form-group">
                        <label for="endereco">Endereço:</label>
                        <input type="text" class="form-control" id="endereco" name="endereco" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="numeroendereco">Nº:</label>
                        <input type="text" class="form-control" id="numeroendereco" name="numeroendereco" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro:</label>
                        <input type="text" class="form-control" id="bairro" name="bairro">
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade:</label>
                        <input type="text" class="form-control" id="cidade" name="cidade">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <input type="text" class="form-control" id="estado" name="estado">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP:</label>
                        <input type="text" class="form-control" id="cep" name="cep">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-info">Gerar Boleto</a>
                    </div>
                </div>

                <div class="col-sm-6">(Opção de pagamento por cartão de crédito em construção)</div>
            
            </div>

            <div>Opção de pagamento:</div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" onclick="paymentType('boleto', 'dados-pagamento')" name="forma-pagamento" id="boleto" value="boleto" checked>
                <label class="form-check-label" for="boleto">
                    Boleto
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" onclick="paymentType('creditcard', 'dados-pagamento')" name="forma-pagamento" id="creditcard" value="creditcard" disabled>
                <label class="form-check-label" for="creditcard">
                    Cartão de Crédito
                </label>
            </div>
        </form>

    </section>

    <script>
    function goNextStep(e1,e2){
        document.getElementById(e1).style.display = "none";
        document.getElementById(e2).style.display = "block";
    }

    function paymentType(radio, form){
        if(radio === "boleto"){
            document.getElementById(form).action = "/pagamentoBoleto";
        } else if(radio === "creditcard"){
            document.getElementById(form).action = "/pagamentoCartao";
        }
    }
    </script>

    <% include ../componentes/footer %>
</body>
</html>