<!DOCTYPE html>
<html style="height: auto;" lang="pt-br">

<% include ../componentes/catalogoHead %>

<body style="height: auto;">
    <% if(user !== null){ %>
    <% include ../componentes/catalogoClienteNavegacao %>
    <% } else { %>
    <% include ../componentes/catalogoNavegacao %>
    <% } %>
    <section class="container" style="margin-top: 50px; min-height: 400px;">
        <div class="row">
            <div class="container">
                <form class="arte-filtro" action="" method="post">
                    <input class="form-control" type="text" placeholder="Buscar arte por nome..." />
                    <select class="form-control">
                        <option>Todas</option>
                        <option>Digital</option>
                        <option>Nanquim</option>
                        <option>Tradicional</option>
                    </select>
                    <button class="btn btn-success" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
        <div class="row">
        <% for(let i=0; i<data.length; i++){ %>
            <div class="col-sm-4">
                <div class="card card-style">
                    <div class="card-img">
                        <img src="imgs/<%= data[i].foto %>" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body card-body-style">
                        <h5 class="card-title"><%= data[i].nome %></h5>
                        <p class="card-text"><%= data[i].descricao %></p>
                        <p class="card-text"><%= data[i].preco %></p>

                        <form action="/arteDetalhe" method="post">
                            <input style="display: none;" type="text" name="_id" value="<%= data[i]._id %>" />

                            <button type="submit" class="btn btn-primary">+ Detalhes</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        <% } %>
        </div>
    </section>

    <% include ../componentes/catalogoFooter %>
</body>
</html>